@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
@media screen and (min-width: 1024px){
 
 .rightSide, .leftSide {
   
   box-sizing: border-box;
   
  margin: 0 auto;
  }
}

@media screen and (max-width: 1023px){
  .section1 {
    flex-flow: column;
  }
  .leftSide {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px){
  .rightSide {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: left;
    font-size: 1em;
  }
}
@media screen and (max-width: 424px) {
  .rightSide img {
    width: 250px;
  }
 .rightSide{
   font-size: 16px;
 }
  .linkss {
    width: 130px;
    height: 130px;
  }
  .linkPlus {
    width: 150px;
    height: 230px;
  }
  .footerMain {
    flex-direction: column;
  }
}