body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #0A0A0A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.main-page-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.page-header {
    font-weight: 100;
    font-size: 37px;
    text-align: center;
    margin: 0;
    padding-top: 115px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    z-index: 1;
}

.page-header::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 150px;
    right: 0;
}
.page-header::before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 150px;
    left: 0;
}

.first-block-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.first-desc-wrapper {
    display: flex;
}

.first-desc-wrapper h2 {
    margin: 0;
    font-family: 'Righteous', sans-serif;
    border: 1px solid #fff;
    font-size: 70px;
    padding: 30px;
    margin: 10px;
    z-index: 1;
}

.banner-background img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
}

.arrow-down-wrapper {
    position: relative;
    z-index: 1;
    margin-top: -50px;
}

.second-block-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
    /* position: absolute; */
    width: 100%;
}

.pastor-image {
    max-width: 730px;
    z-index: 1;
}

.pastor-image img {
    width: 100%;
}

.welcome-from-pastor h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    margin-left: -130px;
}

.welcome-from-pastor h2 {
    margin: 0;
    border: 1px solid #fff;
    font-size: 50px;
    padding: 30px;
    margin: 10px;
    margin-left: -260px;
    padding-left: 130px;
}

.pastor-banner-background img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    right: 0;
}

.second-block-wrapper .arrow-down-wrapper {
    position: absolute;
    bottom: -180px;
    margin-top: 0;
}

.third-block-wrapper {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.long-line {
    height: auto;
    background-color: #fff;
    width: 2px;
}

.text-with-info h2 {
    margin-top: 0;
    font-size: 50px;
    font-family: 'Righteous', sans-serif;
}

.text-with-info h3 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    max-width: 1000px;
}

.text-with-info {
    text-align: right;
    margin-right: 80px;
}
.theCross {
  
    position: absolute;
    left: 150px;
}