* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #0A0A0A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.main-page-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.page-header {
    font-weight: 100;
    font-size: 37px;
    text-align: center;
    margin: 0;
    padding-top: 115px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    z-index: 1;
}

.page-header::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 150px;
    right: 0;
}
.page-header::before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 150px;
    left: 0;
}

.first-block-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.first-desc-wrapper {
    display: flex;
}

.first-desc-wrapper h2 {
    margin: 0;
    font-family: 'Righteous', sans-serif;
    border: 1px solid #fff;
    font-size: 70px;
    padding: 30px;
    margin: 10px;
    z-index: 1;
}

.banner-background img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.arrow-down-wrapper {
    position: relative;
    z-index: 1;
    margin-top: -50px;
}

.second-block-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    /* margin-top: 80px; */
    width: 100%;
    height: 600px;
}

.pastor-image {
    max-width: 730px;
    z-index: 1;
    margin-right: -300px;
}

.pastor-image img {
    width: 100%;
    object-fit: contain;
    /* margin-bottom: -24px; */
    height: 430px;
}

.welcome-from-pastor {
    top: -50px;
    position: relative;
}

.welcome-from-pastor h2 {
    margin: 0;
    border: 1px solid #fff;
    font-size: 50px;
    padding: 30px;
    margin: 10px;
    margin-left: -260px;
    padding-left: 180px;
}

.pastor-banner-background img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    height: 600px;
}

.second-block-wrapper .arrow-down-wrapper {
    position: absolute;
    bottom: -180px;
    margin-top: 0;
}

.third-block-wrapper {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 25px;
}

.long-line {
    height: auto;
    background-color: #fff;
    width: 2px;
}
.circle2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    right: -47px;
    margin: 20px;
}

.text-with-info h2 {
    margin-top: 0;
    font-size: 50px;
    font-family: 'Righteous', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -70px;
}

.text-with-info h3 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    max-width: 1000px;
}

.text-with-info {
    text-align: right;
    margin-right: 80px;
}
.theCross {
  
    position: absolute;
    left: 150px;
}
.messageBox {
box-sizing: border-box;
width: 100%;
display: flex;
justify-content: center;
flex-flow: row wrap;
margin-top: 20px;
}
.message1 {
max-width: 450px;
min-width: 320px;
display: flex;
flex-direction: column;
justify-content: space-between;
box-sizing: border-box;
padding-top: 15px;
text-align: center;
font-size: 19px;
border: 3px solid white;
margin: 25px;
}
.message1 p,.secondary p{
    padding-left: 30px;
    padding-right: 30px;
}
.secondary {
max-width: 650px;
    display: flex;
flex-direction: column;
justify-content: space-between;
box-sizing: border-box;
padding-top: 15px;
text-align: center;
font-size: 19px;
border: 3px solid white;
margin: 25px;
}
.message1 span, .secondary span {
    background-color: white;
    color: black;
    padding: 5px;
}
.message2 {
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    font-size: 19px;
    border: 3px solid white;
    margin: 25px;
    width: 100%;
}
.message2 iframe {
    width: 100%;
}
.originBox {
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 25px;
}
.leftOrigin, .rightOrigin {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.originPodcast {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.originPodcast a {
    margin: 12.5px;
}
.leftOrigin {
    width: 40%;
}
.footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-top: 2px solid white;
    margin-top: 30px;
}
.footer span {
    font-size: 30px;
    font-weight: 500;
    padding: 0 20px;
}
.br-for-responsive {
    display: none;
}
.podcastBlock {
    padding: 0 25px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
}