
/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com
*/
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    max-width: 100%;
    color: #2d3047;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
  font-size: 18px;
  background-color: white;
  /*background-image: url("../Assets/pat.png");*/
  background-repeat: repeat;
  
  }

  /* 
  colors 
  #E0E3DE 
   #BFBB9C
   #656C60
   #121910
   #081B21
   #210808
   #36454F
   #000000
   */




.headerRow {
  min-width: 320px;
  max-width: 1440px;
  margin: 10px auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #BFBB9C;
  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
 font-size: 22px;
 padding-top: 10px;
 padding-bottom: 10px;
 
}

.section1 {
  min-width: 320px;
  max-width: 1440px;
  margin: 10px auto;
}
.rightSide, .leftSide {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  background-color:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightSide img {
  
  width: 300px;
  margin-top: 30px;
}
.rightSide {
  background-color:  #6b6958;
  background-image: url("../Assets/Asset.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border:7px double gray;
  font-family: 'Bungee Outline', cursive;
}

.leftSide p {
  max-width: 950px;
}
.leftSide h1 {
  font-family: 'Bungee Outline', cursive;
}
.leftSide span {
  font-family: 'Fredericka the Great', cursive;
  font-size: 25px;
  max-width: 950px;
}
.rightSide h1 {
 
  font-size: 45px;
 
  
}
.socialLinks h1 {
  font-family: 'Bungee Outline', cursive;
}
.twoTwo {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.slight, .sleft {
  width: 100%;
  margin: 10px;
}
.Sydney {
  min-width: 320px;
  max-width: 650px;
  width: 100%;
  
}
.socialLinks{
  min-width: 320px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  
  margin-top: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.linksss {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.linkss {
  position: relative;
  box-sizing: border-box;
  font-size: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 0;
  margin: 10px;
}
.linkPlus {
  width: 130px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin:5px;
}
.linkss a {
  color: white;
}
.linkss p {
  font-size: 18px;
  margin-top: 2px;
  color: white;
}
.ones {
  background-color: #656C60;
}
.twos {
  background-color: #656C60;
}

.svgGif {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
}

.footerMain {
  min-width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #656C60;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 15px;
  word-break: unset;
}
.footerMain a {
  text-decoration: none;
  color: white;
  padding-left: 15px;
}
